html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: radial-gradient(circle at center, #ff7a00, #0f0a07);

  /* Hide scrollbar but allow scroll */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Main wrapper */
.main-container {
  min-height: 100dvh;
  padding-top: env(safe-area-inset-top);
  box-sizing: border-box;
}



.app-fade-in {
  animation: fadeInApp 0.6s ease forwards;
}

@keyframes fadeInApp {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* 🚀 LAUNCH MODE TRANSITION */
.launch-mode {
  animation: spaceZoom 0.9s ease forwards;
  overflow: hidden;
}

@keyframes spaceZoom {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  40% {
    transform: scale(1.03);
    filter: brightness(1.2);
  }
  100% {
    transform: scale(1.1) translateY(-40px);
    filter: brightness(1.4);
    opacity: 0;
  }
}

