html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: radial-gradient(circle at center, #ff7a00, #0f0a07);

  /* Hide scrollbar but allow scroll */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Main wrapper */
.main-container {
  min-height: 100dvh;
  padding-top: env(safe-area-inset-top);
  box-sizing: border-box;
}